<template name = "about">
  <div id="harsha" class="harsha">

  </div>
  <div id="contact" class="content-section-a">
		<div class="container">
			<div class="row">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>About</h2>
				<p class="lead" style="margin-top:0">Who we are</p><br>
        	<p class="lead" style="margin-top:0">CollateIT is all about news and all related activities in various institutes across India. We are focused on campus placements at Engineering and Business Schools. We seek to provide you everything that you might want to and need to know about institutes before you wish to take admission</p>
			</div>
   		</div>		</div>		</div>
</template>
