<template name = "contact">
  <body>
    <div id="harsha" class="harsha">

    </div>
    <template name="input">
      <form id="send">
        <input id="message" type="text">
        <input type="submit" value="Submit">
      </form>
    </template>
  	<!-- Contact -->
  	<div id="contact" class="content-section-a">
  		<div class="container">
  			<div class="row">

  			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
  				<h2>Contact Us</h2>
  				<p class="lead" style="margin-top:0">A special thanks to Death.</p>
  			</div>

  			<form role="form" action="" method="post" >
  				<div class="col-md-6">
  					<div class="form-group">
  						<label for="InputName">Your Name</label>
  						<div class="input-group">
  							<input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
  							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
  						</div>
  					</div>

  					<div class="form-group">
  						<label for="InputEmail">Your Email</label>
  						<div class="input-group">
  							<input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
  							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
  						</div>
  					</div>

  					<div class="form-group">
  						<label for="InputMessage">Message</label>
  						<div class="input-group">
  							<textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
  							<span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
  						</div>
  					</div>

  					<input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
  				</div>
  			</form>

  			<hr class="featurette-divider hidden-lg">
  				<div class="col-md-5 col-md-push-1 address">
  					<address>
  					<h3>Office Location</h3>
  					<p class="lead"><a href="https://www.google.com/maps/preview?ie=UTF-8&q=The+Pentagon&fb=1&gl=us&hq=1400+Defense+Pentagon+Washington,+DC+20301-1400&cid=12647181945379443503&ei=qmYfU4H8LoL2oATa0IHIBg&ved=0CKwBEPwSMAo&safe=on">CollateIT Inc.<br>
  					Jalandhar</a><br>
  					Phone: XXX-XXX-XXXX<br>
  					Fax: XXX-XXX-YYYY</p>
  					</address>

  					<h3>Social</h3>
  					<li class="social">
  					<a href="#"><i class="fa fa-facebook-square"> </i></a>
  					<a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a>
  					<a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
  					<a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
  					</li>
  				</div>
  			</div>
  		</div>
  	</div>

  </body>
</template>
