<template name = "footer">


  <footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <ul class="list-inline">
                  <li>
                      <a href="/">Home</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="/about">About</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="/compare">CompareIT</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="/rank">Rankings</a>
                  </li>
                  <li class="footer-menu-divider">&sdot;</li>
                  <li>
                      <a href="/contact">Contact</a>
                  </li>
              </ul>
              <p class="copyright text-muted small">Copyright &copy; CollateIT 2015. All Rights Reserved.Developed by Leo Harsha</p>
          </div>
      </div>
  </div>
</footer>



</template>
