<template name ="home">
  <div id="harsha" class="harsha">

  </div>
  <body id="home">

  <!-- Use it -->
  <div id ="useit" class="content-section-a">

      <div class="container">

          <div class="row">

      <div class="col-sm-6 pull-right wow fadeInRightBig">
                  <img class="img-responsive " src="home.jpg" alt="">
              </div>

              <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="175">
                  <h3 class="section-heading">CompareIT</h3>
        <div class="sub-title lead3">Compare Top 15 NIT Colleges</div>
                  <p class="lead">
        Compare between Engineering colleges depending upon various factors to see where each one stands. You can select upto 4 colleges.
        </p>
<p>



         <a class="btn btn-embossed btn-info" href="/compare" role="button">CompareIT</a></p>
      </div>
          </div>
      </div>
      <!-- /.container -->
  </div>

  <div class="content-section-b">

  <div class="container">
          <div class="row">
              <div class="col-sm-6 wow fadeInLeftBig">
                   <div id="owl-demo-1" class="owl-carousel">
          <a href="rank2.jpg" class="image-link">
            <div class="item">
              <img  class="img-responsive img-rounded" src="rank2.jpg" alt="">
            </div>
          </a>
          <a href="rank.jpg" class="image-link">
            <div class="item">
              <img  class="img-responsive img-rounded" src="rank.jpg" alt="">
            </div>
          </a>
          <a href="rank1.jpg" class="image-link">
            <div class="item">
              <img  class="img-responsive img-rounded" src="rank1.jpg" alt="">
            </div>
          </a>
        </div>
              </div>

              <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                  <h3 class="section-heading">Rankings of all NITs 2015</h3>

                  <p class="lead">
                    Following are the ranking factors considered while ranking these institutes:

                    <ul>
              <li>Placements</li>
              <li>Cutoff</li>
              <li>Infrastructure</li>
              <li>Faculty</li>
              <li>Strength</li>
              <li>Fests</li>
              </ul>
        </p>

         <p>
         <a class="btn btn-embossed btn-info" href="/rank" role="button">Rankings</a></p>
      </div>
    </div>
      </div>
  </div>

  <div class="content-section-a">

      <div class="container">

           <div class="row">

      <div class="col-sm-6 pull-right wow fadeInRightBig">
                  <img class="img-responsive " src="hero1.jpg" alt="">
              </div>

              <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                  <h3 class="section-heading">About Us</h3>
                  <p class="lead"> We seek to provide you everything that you might want to and need to know about institutes before you wish to take admission in to those colleges.
        </p>

        <ul class="descp lead2">
          <li><i class="glyphicon glyphicon-menu-hamburger"></i>Rankings</li>
          <li><i class="glyphicon glyphicon-refresh"></i>We are evolving</li>
          <li><i class="glyphicon glyphicon-align-left"></i>CompareIT</li>
        </ul>
      </div>
          </div>
      </div>

  </div>

  <div  class="content-section-c ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center white">
				<h2>Get Live Updates</h2>
				<p class="lead" style="margin-top:0">(Not working as it's a demo)</p>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button "><span>Subscribe to our Newsletter</span></button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Subscribe to our Newsletter</h2>
										<form>
											<p><label>Your Email Address</label> <input type="email"></p>
											<p><button>Subscribe me</button></p>
										</form>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
			</div>>
		</div>
	</div>
  <!-- Banner Download -->
  	<div id="downloadlink" class="banner">
  		<div class="container">
  			<div class="row">
  				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
  				<h2>Follow Us</h2>
  				<p class="lead" style="margin-top:0">Follow us on twitter</p>
  				<p><a class="btn btn-embossed btn-primary view" role="button" href="#">Twitter</a></p>
  			 </div>
  			</div>
  		</div>
  	</div>

</body>
</template>
