<template name = "rank">
  <div id="harsha" class="harsha">

  </div>
  <div id="contact" class="content-section-a">
  		<div class="container">
  			<div class="row">

  			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
  				<h2>Rankings</h2>
  				<p class="lead" style="margin-top:0">Rankings of all NIT's</p>
  			</div>


        <table>
<tbody>
<tr>
<td width="55"><strong>Rank</strong></td>
<td width="252"><strong>Institution </strong></td>
<td width="172"><strong>State </strong></td>
<td width="160"><strong>Official Website</strong></td>
</tr>
<tr>
<td width="55">1</td>
<td width="252">NIT, Warangal</td>
<td width="172">Andhra Pradesh</td>
<td width="160"><a href="http://www.nitw.ac.in" target="_blank" rel="nofollow">http://www.nitw.ac.in</a></td>
</tr>
<tr>
<td width="55">2</td>
<td width="252">NIT, Tiruchirapalli</td>
<td width="172">Tamilnadu</td>
<td width="160"><a href="http://www.nitt.edu/" rel="nofollow">http://www.nitt.edu</a></td>
</tr>

<tr>
<td width="55">3</td>
<td width="252">NIT, Suratkal</td>
<td width="172">Karnataka</td>
<td width="160"><a href="http://nitk.ac.in/" target="_blank" rel="nofollow">http://nitk.ac.in</a></td>
</tr>
<tr>
<td width="55">4</td>
<td width="252">MNNIT, Allahabad</td>
<td width="172">Uttar Pradesh</td>
<td width="160"><a href="http://www.mnnit.ac.in" target="_blank" rel="nofollow">http://www.mnnit.ac.in</a></td>
</tr>
<tr>
<td width="55">5</td>
<td width="252">NIT, Calicut</td>
<td width="172">Kerala</td>
<td width="160"><a href="http://www.nitc.ac.in" target="_blank" rel="nofollow">http://www.nitc.ac.in</a></td>
</tr>
<tr>
<td width="55">6</td>
<td width="252">MNIT, Jaipur</td>
<td width="172">Rajasthan</td>
<td width="160"><a href="http://www.mnit.ac.in" target="_blank" rel="nofollow">http://www.mnit.ac.in</a></td>
</tr>
<tr>
<td width="55">7</td>
<td width="252">MANIT, Bhopal</td>
<td width="172">Madhya Pradesh</td>
<td width="160"><a href="http://manit.ac.in/" target="_blank" rel="nofollow">http://manit.ac.in</a></td>
</tr>
<tr>
<td width="55">8</td>
<td width="252">VNIT, Nagpur</td>
<td width="172">Maharashtra</td>
<td width="160"><a href="http://www.vnit.ac.in" target="_blank" rel="nofollow">http://www.vnit.ac.in</a></td>
</tr>
<tr>
<td width="55">9</td>
<td width="252">NIT, Kurukshetra</td>
<td width="172">Haryana</td>
<td width="160"><a href="http://www.nitkkr.ac.in/" target="_blank" rel="nofollow">http://www.nitkkr.ac.in/</a></td>
</tr>
<tr>
<td width="55">10</td>
<td width="252">NIT, Rourkela</td>
<td width="172">Orissa</td>
<td width="160"><a href="http://www.nitrkl.ac.in/" target="_blank" rel="nofollow">http://www.nitrkl.ac.in/</a></td>
</tr>
<tr>
<td width="55">11</td>
<td width="252">NIT, Hamirpur</td>
<td width="172">Himachal Pradesh</td>
<td width="160"><a href="http://www.nith.ac.in/" target="_blank" rel="nofollow">http://www.nith.ac.in/</a></td>
</tr>
<tr>
<td width="55">12</td>
<td width="252">NIT, Surat</td>
<td width="172">Gujarat</td>
<td width="160"><a href="http://www.svnit.ac.in/" target="_blank" rel="nofollow">http://www.svnit.ac.in/</a></td>
</tr>
<tr>
<td width="55">13</td>
<td width="252">NIT, Jalandhar</td>
<td width="172">Punjab</td>
<td width="160"><a href="http://www.nitj.ac.in/" target="_blank" rel="nofollow">http://www.nitj.ac.in/</a></td>
</tr>
<tr>
<td width="55">14</td>
<td width="252">NIT, Durgapur</td>
<td width="172">West Bengal</td>
<td width="160"><a href="http://www.nitdgp.ac.in" target="_blank" rel="nofollow">http://www.nitdgp.ac.in</a></td>
</tr>

<tr>
<td width="55">15</td>
<td width="252">NIT, Jamshedpur</td>
<td width="172">Jharkhand</td>
<td width="160"><a href="http://nitjsr.ac.in/" target="_blank" rel="nofollow">http://nitjsr.ac.in/</a></td>
</tr>
<tr>
<td width="55">16</td>
<td width="252">NIT, Raipur</td>
<td width="172">Chhattisgarh</td>
<td width="160"><a href="http://www.nitrr.ac.in" target="_blank" rel="nofollow">http://www.nitrr.ac.in</a></td>
</tr>
<tr>
<td width="55">17</td>
<td width="252">NIT, Patna</td>
<td width="172">Bihar</td>
<td width="160"><a href="http://www.nitp.ac.in/" target="_blank" rel="nofollow">http://www.nitp.ac.in/</a></td>
</tr>
<tr>
<td width="55">18</td>
<td width="252">NIT, Goa</td>
<td width="172">Goa</td>
<td width="160"><a href="http://www.new.nitgoa.ac.in/" target="_blank" rel="nofollow">http://www.new.nitgoa.ac.in/</a></td>
</tr>
<tr>
<td width="55">19</td>
<td width="252">NIT, Silchar</td>
<td width="172">Assam</td>
<td width="160"><a href="http://www.nits.ac.in/" target="_blank" rel="nofollow">http://www.nits.ac.in/</a></td>
</tr>
<tr>
<td width="55">20</td>
<td width="252">NIT, Srinagar</td>
<td width="172">Jammu &amp; Kashmir</td>
<td width="160"><a href="http://www.nitsri.net/" target="_blank" rel="nofollow">http://www.nitsri.net/</a></td>
</tr>
<tr>
<td width="55">21</td>
<td width="252">NIT, Agartala</td>
<td width="172">Tripura</td>
<td width="160"><a href="http://www.nitagartala.in/" target="_blank" rel="nofollow">http://www.nitagartala.in/</a></td>
</tr>
<tr>
<td width="55">22</td>
<td width="252">NIT, Sikkim</td>
<td width="172">Sikkim</td>
<td width="160"><a href="http://www.nitsikkim.ac.in/" target="_blank" rel="nofollow">http://www.nitsikkim.ac.in/</a></td>
</tr>
<tr>
<td width="55">23</td>
<td width="252">NIT, Manipur</td>
<td width="172">Manipur</td>
<td width="160"><a href="http://www.nitmanipur.ac.in/" target="_blank" rel="nofollow">http://www.nitmanipur.ac.in/</a></td>
</tr>
<tr>
<td width="55">24</td>
<td width="252">NIT, Mizoram</td>
<td width="172">Mizoram</td>
<td width="160"><a href="http://www.nitmz.ac.in/" target="_blank" rel="nofollow">http://www.nitmz.ac.in/</a></td>
</tr>
<tr>
<td width="55">25</td>
<td width="252">NIT, Nagaland</td>
<td width="172">Nagaland</td>
<td width="160"><a href="http://nitnagaland.ac.in/" target="_blank" rel="nofollow">http://nitnagaland.ac.in/</a></td>
</tr>
</tbody>
</table>
        <br /><br />
        <a href="/compare" class="btn btn-primary btn-lg">CompareIT</a>
  			</div>
  		</div>
  	</div>


</template>
